
@model List<MeyawoPortfolios.Models.TblTestimonial>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Referans Listesi</h2>
<hr />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Açıklama</th>
        <th>Resim</th>
        <th>Durum</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialID</td>
            <td>@item.NameSurname</td>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
            @if (item.Status == true)
            {
                <td class="text-center"><span class="badge badge-success p-2"> Aktif </span></td>
            }
            else
            {
                <td class="text-center"><span class="badge badge-danger p-2"> Pasif </span></td>
            }

            <td><a href="/AdminTestimonial/ActiveTestimonial/@item.TestimonialID/" class="btn btn-success">Aktif Yap</a></td>
            <td><a href="/AdminTestimonial/PassiveTestimonial/@item.TestimonialID/" class="btn btn-secondary">Pasif Yap</a></td>
        </tr>
    }
</table>
