
@model MeyawoPortfolios.Models.TblProject

@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Proje Ekle</h2>
<hr />
<form method="post" action="/AdminProject/CreateProject/">
    <div class="form-group mb-3">
        <label class="form-label">Proje Başlığı</label>
        <input class="form-control" placeholder="Proje Başlığı" name="Title" />
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Proje Açıklaması</label>
        <textarea class="form-control" name="Description"></textarea>
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Proje Kategorisi</label>
        @Html.DropDownListFor(x => x.Category, (SelectList) ViewBag.categoryList, "Kategori Seçiniz", new { @class = "form-control" })
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Görsel</label>
        <input class="form-control" name="ImageUrl" />
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Proje Görseli</label>
        <input class="form-control" name="ProjectUrl" />
    </div>
    <button type="submit" class="btn btn-primary">Proje Kaydet</button>
</form>
